<footer class="footer">
    <div class="primeraDivicion">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-lg-3 .col-sm-12">
                        <div class="row">
                            <div>
                                <ul class="contieneLista">
                                    <li class="titulo">Compra</li>
                                    <li>Productos a mejores precios.</li>
                                    <li> Calidad de productos. </li>
                                    <li> Ahorra mas comprando nuestro producto.</li>
                                </ul>
                            </div> 
                        </div>    
                    </div>
                    <div class="col-lg-3 .col-sm-12">
                        <div>
                            <ul class="contieneLista">
                                <li class="titulo">Ayuda y Servicio.</li>
                                <li> Explicamos Cualquier duda.</li>
                                <li> Buscamos siempre ayudarte.</li>
                                <li> estamos para lo que se le ofresca.</li>
                            </ul>
                        </div> 
                    </div>
                    <div class="col-lg-3 .col-sm-12">
                        <div>
                            <ul class="contieneLista">
                                <li class="titulo">Servicio</li>
                                <li>Ofrecemos un servicio adecuado.</li>
                                <li> Siempre con la mejor actitud.</li>
                                <li> atendemos de la mejor manera.</li>
                            </ul>
                        </div>  
                    </div>
                    <div class="col-lg-3 .col-sm-12">
                        <div>
                            <ul class="contieneLista">
                                <li class="titulo"> Cliente</li>
                                <li>El cliente resive la atencion necesari.a</li>
                                <li>cliente es lo primero.</li>
                                <li>Le otorgamos una manera excelente siempre ayudando. </li>
                            </ul>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="segundaDivicion">
        <p>TODOS LOS DERECHOS RESERVADOS POR COMERCIALIZADORA FARMACÉUTICA DE Hidalgo S.A.P.I. DE C.V., MÉXICO D.F. 2021</p>
        <p>COFEPRIS: 11110590808 B1905 | NO. DE LICENCIA SANITARIA: 09 054 97 0000</p>
    </div>
   
  </footer>
  